// nf_cmds.config

conda.enabled = true

process {
    withName: downloadSRA {
        conda = 'bioconda::entrez-direct=24.0 bioconda::sra-tools=3.2.1'
    }
    withName: convertSRA {
        conda = 'conda-forge::pigz=2.8 bioconda::sra-tools=3.2.1'
    }

    withName: cleanFastq {
        conda = 'bioconda::fastp=1.1.0'
    }

    withName: assembleGenome {
        conda = 'bioconda::skesa=2.5.1'
    }

    withName: fastqMetrics {
        conda = 'bioconda::seqkit=2.13.0'
    }
}